.burgerIngredients {
    width: 600px;
    height: 912px;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
}

.ingredientArea {
    height: 756px;
    overflow-y: scroll;
    scrollbar-width: 8px;
    scrollbar-color: #8585AD #2F2F37;
}

.ingredientArea::-webkit-scrollbar {
    width: 8px;
}

.ingredientArea::-webkit-scrollbar-track {
    background-color: #2F2F37;
}

.ingredientArea::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}

.nameSection {
    width: 100%;
}