.app {
    max-width: 1240px;
    /* text-align: center; */
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}

.modalWindow {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalFullImage {
    width: 480px;
    height: 240px;
}

.paragraph {
    width: 520px;
    margin-left: 100px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 32px;
}