.paragraph {
    width: 520px;
    margin-left: 100px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 32px;
}

.nutritionList {
    width: 520px;
    height: 56px;
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-bottom: 60px;
}

.nutritionItem {
    text-align: 'center';
}