.modalContent {
    display: block;
    position: relative;
    text-align: center;
    width: 720px;
    padding: 20px;
    border-radius: 40px;
    background-color: #1C1C21;
    color: white;
    z-index: 1;
    padding: 0;
}

.modalWindow {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    width: 640px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.closeButton {
    cursor: pointer;
}