.sectionBurger {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 668px;
    /* overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: 8px;
    scrollbar-color: #8585AD #2F2F37; */
}

.sectionBurger::-webkit-scrollbar {
    width: 8px;
}

.sectionBurger::-webkit-scrollbar-track {
    background-color: #2F2F37;
}

.sectionBurger::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}

.bunTopAndBottom {
    max-height: 80px;
    margin-left: 32px;
}

.sectionMainAndSauce {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 508px;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: 8px;
    scrollbar-color: #8585AD #2F2F37;
}

.sectionMainAndSauce::-webkit-scrollbar {
    width: 8px;
}

.sectionMainAndSauce::-webkit-scrollbar-track {
    background-color: #2F2F37;
}

.sectionMainAndSauce::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}